<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chapter</title>
</head>
<body>
    <form action="" method="post">
        <label for="id">ID : </label>
        <input type="text" name="id" id="id">

        <label for="chapter_name">name : </label>
        <input type="text" name="chapter_name" id="chapter_name">

        <label for="description">Description : </label>
        <input type="text" name="description" id="description">

        <button type="submit">Save</button>
    </form>

</body>
</html>