<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">
</head>

<body>

    <div class="login">
        <h2>Welcome to Quiz Master</h2>
        <h4>Login</h4>
        <form action="/login" method="post">
            <label for="username">Username(Email) : </label>
            <input type="email" name="username" id="username">

            <label for="password">Password : </label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="signup">
        <h2>Welcome to Quiz Master</h2>
        <h4>Registration</h4>
        <form action="/signup" method="post">
            <label for="username">Username(Email) : </label>
            <input type="email" name="username" id="username">

            <label for="password">Password : </label>
            <input type="password" name="password" id="password">

            <label for="fullname">Full Name : </label>
            <input type="text" name="fullname" id="fullname">

            <label for="qualification">Qualification : </label>
            <select name="qualification" id="qualification">
                <option value="10th">10th</option>
                <option value="12th">12th</option>
                <option value="undergraduate">Under Graduate</option>
                <option value="postgraduate">Post Graduate</option>
            </select>

            <label for="dob">Date of Birth : </label>
            <input type="date" name="dob" id="dob">

            <button type="submit">Submit</button>
        </form>
    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/login_signup.js') }}"></script>
</html>